<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
</head>
<body>

<h2>Register Your Vehicle</h2>

<form action="/register" method="POST" enctype="multipart/form-data">
    Name: <input type="text" name="name"><br><br>
    ID Number: <input type="text" name="student_id"><br><br>
    Level: <input type="text" name="level"><br><br>
    Vehicle Type: <input type="text" name="vehicle"><br><br>

    Photo: <input type="file" name="photo"><br><br>

    <button type="submit">Register</button>
</form>
</body>
</html>